$cWhite: white;
$cBlack: black;
$cRed: #E8222D;
$cYellow: #F5E0A3;
$cPink: #EEA282;
$cPurple: #200A3E;

$dDarkBlue: #17223b;
$dBlue: #263859;
$dGrey: #6b778d;
$dPink: #ff6768;

$contentMaxWidth: 1070px;
