@import '~bootstrap/scss/bootstrap';
@import 'modules/variables';
@import '~bootstrap/scss/bootstrap';
@import "breakpoints/base";
@import "modules/navbar";
@import "modules/footer";
@import 'modules/decoration';
@import 'modules/mixin';
@import 'modules/button';
@import 'modules/pagination';


@media (min-width: 480px) {
  @import "breakpoints/480up";
}

@media (min-width: 600px) {
  @import "breakpoints/600up";
}

@media (min-width: 960px) {
  @import "breakpoints/960up";
}

@media (prefers-color-scheme: dark) {
  @import "modules/darkmood";
}
